<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/node_modules/jquery/dist/jquery.min.js" defer></script> 
    <script src="~/node_modules/jquery-validation/dist/jquery.validate.min.js" defer></script> 
    <script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" defer></script>
</head>
<body>
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @TempData["SuccessMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    <div>
        @RenderBody()
    </div>
    @RenderSection("Scripts", required: false)
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js" defer></script>
    <script src="~/node_modules/popper.js/dist/umd/popper.min.js" defer></script>
</body>
</html>

