@model List<FAQsApp.Models.FAQ>

@{
    ViewData["Title"] = "FAQs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-4">
    <div class="col-md-3">
        <div class="list-group">
            <a href="/home/index/category/general" class="list-group-item list-group-item-action">General</a>
            <a href="/home/index/category/history" class="list-group-item list-group-item-action">History</a>
        </div>
    </div>
    <div class="col-md-9">
        <div class="list-group faq-list">
            @foreach (var faq in Model)
            {
                <div class="list-group-item mb-3">
                    <h5 class="mb-1"><strong>@faq.Question</strong></h5>
                    <h6 class="mb-1">@faq.Answer</h6>
                    <h6 class="mb-1">Topic: @faq.Topic?.Name</h6>
                    <h6 class="mb-1">Category: @faq.Category?.Name</h6>
                </div>
            }
        </div>
    </div>
</div>
